body {
    font-family: Arial;
    font-size: 24px;
    color: #004e9c;
}
h1, h2, h3, h4, .header {
    font-family: Arial;
    font-size: 40px;
    text-transform: uppercase;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
.carousel-control.left img {
    left:0px;
    position: absolute;
    top:50%;
}
.carousel-control.right img {
    position: absolute;
    top:50%;
    right: 0px;
}

.carousel-inner { border: 1px dotted blue; }
.carousel .item [class^="col-"],
.carousel .item { min-height: 480px; }
@media(min-width:480px) {
    .carousel .item [class^="col-"],
    .carousel .item {
        min-height: 550px;
    }
}
.well {
    padding: 20px;
    position: fixed;
    z-index: 100;
}
@media(min-width:480px){
    .well {
        position: relative;
    }
}

.stage-right {
    display: none;
}
@media(min-width:480px){
    .stage-right {
        display: block;
    }
}

.item img[class*="pos-"],
.item div[class*="pos-"] {
    position: absolute;
}

.item [data-animate-style="dropBounce"] {
    top: -100%;
}

.delay-100 { transition-delay:0.1s; }
.delay-200 { transition-delay:0.2s; }
.delay-300 { transition-delay:0.3s; }

.well {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.off-stage-left {
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
}



.item .pos-l0   { left:  0; }
.item .pos-l5   { left:  5%; }
.item .pos-l10  { left: 10%; }
.item .pos-l15  { left: 15%; }
.item .pos-l20  { left: 20%; }
.item .pos-l25  { left: 25%; }
.item .pos-l30  { left: 30%; }
.item .pos-l40  { left: 40%; }
.item .pos-l45  { left: 45%; }
.item .pos-l50  { left: 50%; }
.item .pos-l55  { left: 55%; }
.item .pos-l60  { left: 60%; }
.item .pos-l65  { left: 65%; }
.item .pos-l70  { left: 70%; }
.item .pos-l75  { left: 75%; }
.item .pos-l100 { left: 100%; }

.item .pos-r0   { right:  0; }
.item .pos-r5   { right:  5%; }
.item .pos-r10  { right: 10%; }
.item .pos-r15  { right: 15%; }
.item .pos-r20  { right: 20%; }
.item .pos-r25  { right: 25%; }
.item .pos-r30  { right: 30%; }
.item .pos-r40  { right: 40%; }
.item .pos-r45  { right: 45%; }
.item .pos-r50  { right: 50%; }
.item .pos-r55  { right: 55%; }
.item .pos-r60  { right: 60%; }
.item .pos-r65  { right: 65%; }
.item .pos-r70  { right: 70%; }
.item .pos-r75  { right: 75%; }
.item .pos-r100 { right: 100%; }

.item .pos-b0   { bottom:  0; }
.item .pos-b5   { bottom:  5%; }
.item .pos-b10  { bottom: 10%; }
.item .pos-b15  { bottom: 15%; }
.item .pos-b20  { bottom: 20%; }
.item .pos-b25  { bottom: 25%; }
.item .pos-b30  { bottom: 30%; }
.item .pos-b40  { bottom: 40%; }
.item .pos-b45  { bottom: 45%; }
.item .pos-b50  { bottom: 50%; }
.item .pos-b55  { bottom: 55%; }
.item .pos-b60  { bottom: 60%; }
.item .pos-b65  { bottom: 65%; }
.item .pos-b70  { bottom: 70%; }
.item .pos-b75  { bottom: 75%; }
.item .pos-b100 { bottom: 100%; }

.item .pos-t0   { top:  0; }
.item .pos-t5   { top:  5%; }
.item .pos-t10  { top: 10%; }
.item .pos-t15  { top: 15%; }
.item .pos-t20  { top: 20%; }
.item .pos-t25  { top: 25%; }
.item .pos-t30  { top: 30%; }
.item .pos-t40  { top: 40%; }
.item .pos-t45  { top: 45%; }
.item .pos-t50  { top: 50%; }
.item .pos-t55  { top: 55%; }
.item .pos-t60  { top: 60%; }
.item .pos-t65  { top: 65%; }
.item .pos-t70  { top: 70%; }
.item .pos-t75  { top: 75%; }
.item .pos-t100 { top: 100%; }